@import "tailwindcss";

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background: #020617;
}

#root {
  width: 100%;
  max-width: 100%;
  overflow-x: clip; /* better than hidden when supported */
  background: #020617;
}
