@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  background: #020617; /* your site bg */
}

body {
  margin: 0;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

#root {
  overflow-x: clip;
}



